@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
  --colorDark: #333;
  --colorLight: #fff;
  --colorPrimary: red;
  --colorSecondary: blue;
  --borderRadius: 3px;
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 18px;
  color: var(--colorDark);
}

.title {
  text-align: center;
  margin-top: 10vh;
}

.title h1 {
  color: var(--colorPrimary);
}

.title p {
  color: var(--colorSecondary);
}
