@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
  --colorDark: #333;
  --colorMedium: #ccc;
  --colorLight: #fff;
  --colorPrimary: red;
  --colorSecondary: blue;
  --borderRadius: 3px;
  --transition: all 0.3s ease;
  --fontFamily: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 18px;
  color: var(--colorDark);
}

li {
  list-style: none;
}

.title {
  text-align: center;
  margin-top: 10vh;
}

.title h1 {
  color: var(--colorPrimary);
}

.title p {
  color: var(--colorSecondary);
}

.container {
  max-width: 700px;
  margin: auto;
}

.btn-container {
  margin: 2rem auto;
  text-align: center;
}

.btn-container button {
  background: transparent;
  border: none;
  margin: 0 1rem;
  font-size: 1.1rem;
  font-family: var(--fontFamily);
  cursor: pointer;
}

.info-container {
  padding: 1rem;
}

.info-container li {
  margin: 1rem 0;
}

.info-container h4 {
  background-color: var(--colorSecondary);
  display: inline-block;
  color: var(--colorLight);
  margin: 0.25rem 0;
  padding: 0.24rem;
  border-radius: var(--borderRadius);
}

.info-container li {
  display: flex;
  align-items: center;
}

.info-container li .icon {
  font-size: 3rem;
  color: var(--colorPrimary);
  margin-right: 2rem;
}

@media only screen and (min-width: 800px) {
}
