@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
  --colorDark: #333;
  --colorMedium: #ccc;
  --colorLight: #fff;
  --colorPrimary: red;
  --colorSecondary: blue;
  --borderRadius: 3px;
  --transition: all 0.3s ease;
  --fontFamily: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: var(--colorDark);
}

li {
  list-style: none;
}

.title {
  text-align: center;
  margin-top: 10vh;
}

.title h1 {
  color: var(--colorPrimary);
}

.title p {
  color: var(--colorSecondary);
}

.container {
  /* margin: auto; */
}

.btn-container {
  margin: 2rem auto;
  text-align: center;
}

.btn-container button {
  background: transparent;
  border: none;
  margin: 0 1rem;
  font-family: var(--fontFamily);
  cursor: pointer;
  border-bottom: 1px dotted var(--colorMedium);
  padding-bottom: 0.25rem;
  outline: none;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.btn-container .current {
  color: var(--colorPrimary);
  border-bottom: 1px solid red;
}

.info-container {
  padding: 1rem;
}

.info-container li {
  margin: 1rem 0;
}

.info-container h4 {
  background-color: var(--colorSecondary);
  display: inline-block;
  color: var(--colorLight);
  margin: 0.25rem 0;
  padding: 0.24rem;
  border-radius: var(--borderRadius);
}

.info-container li {
  display: flex;
  align-items: center;
}

.info-container li .icon {
  font-size: 3rem;
  color: var(--colorPrimary);
  margin-right: 1rem;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    align-items: flex-start;
    margin: 5rem 0 0;
  }

  .btn-container {
    margin: 0 2rem 0 0;
    text-align: left;
  }

  .info-container {
    padding: 0;
  }
}
